{% extends "OCPlatformBundle::layout.html.twig" %}

{% block title %}
    Modification
{% endblock %}

{% block body %}
    <h2>Modifier une annonce</h2>
    {{ include("OCPlatformBundle:Advert:form.html.twig") }}

{% endblock %}