<!DOCTYPE html>
<html>
	<head>
		<title>Bienvenue sur ma première page avec Openclassrooms !</title>
	</head>
	<body>
		<h1>Hello {{ nom }} !</h1>
		<p>
			Le Hello World est un grand classique en programmation.
			Il signifie énormément bla bla bla bla è à ù
		</p>
	</body>
</html>